.react-form-design-formItem {
  line-height: 50px;
  height: auto;
  display: flex;
  overflow: hidden;
  margin: 0 24px;
  padding: 24px 0;
  background-color: #ffffff;
  border-bottom: 2px solid #eeeeee;

  :last-child {
    border-bottom: none;
  }

  &-wrapper {
    background-color: #ffffff;
    box-sizing: border-box;
  }

  &-horizontal {
    flex-direction: row;
    align-items: flex-start;
  }

  &-vertical {
    flex-direction: column;
    .react-form-design-formItem-controll-item {
      margin-top: 20px;
    }

    .react-form-design-label {
      width: auto;
    }
  }

  &-controll {
    margin-left: 40px;
    font-size: 32px;
    /* stylelint-disable-next-line no-descending-specificity */
    &-item {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
    }
  }
}

/* stylelint-disable-next-line no-descending-specificity */
.react-form-design-label {
  width: 146px;
  font-size: 32px;
  flex: none;
  box-sizing: border-box;
  color: #646566;
  text-align: left;
  word-wrap: break-word;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  line-height: 50px;
}

.react-form-design-required-box {
  min-width: 14px;
}

.react-form-design-message {
  font-size: 24px;
  margin-top: 8px;
}
