.van-checkbox-group--horizontal {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.van-checkbox {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
}
.van-checkbox--horizontal {
  margin-right: 0.512rem;
}
.van-checkbox__icon-wrap,
.van-checkbox__label {
  line-height: 0.85333rem;
  line-height: var(--checkbox-size, 0.85333rem);
}
.van-checkbox__icon-wrap {
  -webkit-flex: none;
  flex: none;
}
.van-checkbox__icon {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1em;
  height: 1em;
  color: transparent;
  text-align: center;
  -webkit-transition-property: color, border-color, background-color;
  transition-property: color, border-color, background-color;
  font-size: 0.85333rem;
  font-size: var(--checkbox-size, 0.85333rem);
  border: 0.04267rem solid #c8c9cc;
  border: var(--border, 0.04267rem) solid var(--checkbox-border-color, #c8c9cc);
  -webkit-transition-duration: 0.2s;
  transition-duration: 0.2s;
  -webkit-transition-duration: var(--checkbox-transition-duration, 0.2s);
  transition-duration: var(--checkbox-transition-duration, 0.2s);
}
.van-checkbox__icon--round {
  border-radius: 100%;
}
.van-checkbox__icon--checked {
  color: #fff;
  color: var(--white, #fff);
  background-color: #1989fa;
  background-color: var(--checkbox-checked-icon-color, #1989fa);
  border-color: #1989fa;
  border-color: var(--checkbox-checked-icon-color, #1989fa);
}
.van-checkbox__icon--disabled {
  background-color: #ebedf0;
  background-color: var(--checkbox-disabled-background-color, #ebedf0);
  border-color: #c8c9cc;
  border-color: var(--checkbox-disabled-icon-color, #c8c9cc);
}
.van-checkbox__icon--disabled.van-checkbox__icon--checked {
  color: #c8c9cc;
  color: var(--checkbox-disabled-icon-color, #c8c9cc);
}
.van-checkbox__label {
  word-wrap: break-word;
  padding-left: 0.42667rem;
  padding-left: var(--checkbox-label-margin, 0.42667rem);
  color: #323233;
  color: var(--checkbox-label-color, #323233);
}
.van-checkbox__label--left {
  float: left;
  margin: 0 0.42667rem 0 0;
  margin: 0 var(--checkbox-label-margin, 0.42667rem) 0 0;
}
.van-checkbox__label--disabled {
  color: #c8c9cc;
  color: var(--checkbox-disabled-label-color, #c8c9cc);
}
.van-checkbox__label:empty {
  margin: 0;
}
.van-cell,
.van-hairline,
.van-hairline--bottom,
.van-hairline--left,
.van-hairline--right,
.van-hairline--surround,
.van-hairline--top,
.van-hairline--top-bottom {
  position: relative;
}
.van-hairline--bottom::after,
.van-hairline--left::after,
.van-hairline--right::after,
.van-hairline--surround::after,
.van-hairline--top-bottom::after,
.van-hairline--top::after,
.van-hairline::after {
  position: absolute;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  transform-origin: center;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.van-hairline--top::after {
  border-top-width: 1px;
}
.van-hairline--left::after {
  border-left-width: 1px;
}
.van-hairline--right::after {
  border-right-width: 1px;
}
.van-hairline--bottom::after {
  border-bottom-width: 1px;
}
.van-hairline--top-bottom::after {
  border-width: 1px 0;
}
.van-hairline--surround::after {
  border-width: 1px;
}
.van-cell {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  -webkit-align-items: center;
  align-items: center;
  -webkit-flex: 1;
  flex: 1;
  padding: 0.512rem 0.68267rem;
  padding: var(--cell-vertical-padding, 0.512rem)
    var(--cell-horizontal-padding, 0.68267rem);
  font-size: 0.59733rem;
  font-size: var(--cell-font-size, 0.59733rem);
  line-height: 1.024rem;
  line-height: var(--cell-line-height, 1.024rem);
  color: #323233;
  color: var(--cell-text-color, #323233);
}
.van-cell::after {
  position: absolute;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  transform-origin: center;
  content: ' ';
  pointer-events: none;
  right: 0.68267rem;
  bottom: 0;
  left: 0.68267rem;
  border-bottom: 1px solid #ebedf0;
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.van-cell--borderless::after {
  display: none;
}
.van-cell,
.van-cell-group {
  background-color: #fff;
  background-color: var(--cell-background-color, #fff);
}
.van-cell__label {
  margin-top: 0.128rem;
  margin-top: var(--cell-label-margin-top, 0.128rem);
  font-size: 0.512rem;
  font-size: var(--cell-label-font-size, 0.512rem);
  color: #969799;
  color: var(--cell-label-color, #969799);
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
}
.van-cell__value {
  overflow: hidden;
  text-align: right;
  vertical-align: middle;
  color: #969799;
  color: var(--cell-value-color, #969799);
}
.van-cell__title,
.van-cell__value {
  -webkit-flex: 1;
  flex: 1;
}
.van-cell__title:empty,
.van-cell__value:empty {
  display: none;
}
.van-cell__left-icon-wrap,
.van-cell__right-icon-wrap {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  height: 1.024rem;
  height: var(--cell-line-height, 1.024rem);
  font-size: 0.68267rem;
  font-size: var(--cell-icon-size, 0.68267rem);
}
.van-cell__left-icon-wrap {
  margin-right: 0.17067rem;
  margin-right: var(--padding-base, 0.17067rem);
}
.van-cell__right-icon-wrap {
  margin-left: 0.17067rem;
  margin-left: var(--padding-base, 0.17067rem);
  color: #969799;
  color: var(--cell-right-icon-color, #969799);
}
.van-cell__left-icon {
  vertical-align: middle;
}
.van-cell__left-icon,
.van-cell__right-icon {
  line-height: 1.024rem;
  line-height: var(--cell-line-height, 1.024rem);
}
.van-cell--clickable.van-cell--hover {
  -webkit-filter: brightness(0.95);
  filter: brightness(0.95);
}
.van-cell--required {
  overflow: visible;
}
.van-cell--required::before {
  position: absolute;
  content: '*';
  left: 0.34133rem;
  left: var(--padding-xs, 0.34133rem);
  font-size: 0.59733rem;
  font-size: var(--cell-font-size, 0.59733rem);
  color: #ee0a24;
  color: var(--cell-required-color, #ee0a24);
}
.van-cell--center {
  -webkit-align-items: center;
  align-items: center;
}
.van-cell--large {
  padding-top: 0.512rem;
  padding-top: var(--cell-large-vertical-padding, 0.512rem);
  padding-bottom: 0.512rem;
  padding-bottom: var(--cell-large-vertical-padding, 0.512rem);
}
.van-cell--large .van-cell__title {
  font-size: 0.68267rem;
  font-size: var(--cell-large-title-font-size, 0.68267rem);
}
.van-cell--large .van-cell__value {
  font-size: 0.68267rem;
  font-size: var(--cell-large-value-font-size, 0.68267rem);
}
.van-cell--large .van-cell__label {
  font-size: 0.59733rem;
  font-size: var(--cell-large-label-font-size, 0.59733rem);
}
.van-image {
  position: relative;
  display: inline-block;
}
.van-image--round {
  overflow: hidden;
  border-radius: 50%;
}
.van-image--round .van-image__img {
  border-radius: inherit;
}
.van-image__error,
.van-image__img,
.van-image__loading {
  display: block;
  width: 100%;
  height: 100%;
}
.van-image__error,
.van-image__loading {
  position: absolute;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  color: #969799;
  color: var(--image-placeholder-text-color, #969799);
  font-size: 0.59733rem;
  font-size: var(--image-placeholder-font-size, 0.59733rem);
  background-color: #f7f8fa;
  background-color: var(--image-placeholder-background-color, #f7f8fa);
}
.van-image__loading-icon {
  color: #dcdee0;
  color: var(--image-loading-icon-color, #dcdee0);
  font-size: 1.36533rem !important;
  font-size: var(--image-loading-icon-size, 1.36533rem) !important;
}
.van-image__error-icon {
  color: #dcdee0;
  color: var(--image-error-icon-color, #dcdee0);
  font-size: 1.36533rem !important;
  font-size: var(--image-error-icon-size, 1.36533rem) !important;
}
.image-class .taro-img__mode-aspectfit {
  width: 100%;
  height: 100%;
  max-width: none !important;
  max-height: none !important;
  object-fit: contain;
}
.image-class .taro-img__mode-center {
  object-fit: none;
  display: block;
  width: 100%;
  height: 100%;
}
.image-class .taro-img__mode-heightfix {
  height: 100%;
}
.van-cell-group--inset {
  margin: 0 0.68267rem;
  margin: var(--cell-group-inset-padding, 0 0.68267rem);
  border-radius: 0.34133rem;
  border-radius: var(--cell-group-inset-border-radius, 0.34133rem);
  overflow: hidden;
}
.van-cell-group__title {
  padding: 0.68267rem 0.68267rem 0.34133rem;
  padding: var(--cell-group-title-padding, 0.68267rem 0.68267rem 0.34133rem);
  font-size: 0.59733rem;
  font-size: var(--cell-group-title-font-size, 0.59733rem);
  line-height: 0.68267rem;
  line-height: var(--cell-group-title-line-height, 0.68267rem);
  color: #969799;
  color: var(--cell-group-title-color, #969799);
}
.van-cell-group__title--inset {
  padding: 0.68267rem 0.68267rem 0.34133rem 1.36533rem;
  padding: var(
    --cell-group-inset-title-padding,
    0.68267rem 0.68267rem 0.34133rem 1.36533rem
  );
}
