.van-sidebar {
  width: 3.41333rem;
  width: var(--sidebar-width, 3.41333rem);
}
.van-sidebar-item {
  display: block;
  box-sizing: border-box;
  overflow: hidden;
  border-left: 0.128rem solid transparent;
  -webkit-user-select: none;
  user-select: none;
  padding: 0.85333rem 0.512rem 0.85333rem 0.34133rem;
  padding: var(--sidebar-padding, 0.85333rem 0.512rem 0.85333rem 0.34133rem);
  font-size: 0.59733rem;
  font-size: var(--sidebar-font-size, 0.59733rem);
  line-height: 0.85333rem;
  line-height: var(--sidebar-line-height, 0.85333rem);
  color: #323233;
  color: var(--sidebar-text-color, #323233);
  background-color: #f7f8fa;
  background-color: var(--sidebar-background-color, #f7f8fa);
}
.van-sidebar-item__text {
  position: relative;
  display: inline-block;
  word-break: break-all;
}
.van-sidebar-item--hover:not(.van-sidebar-item--disabled) {
  background-color: #f2f3f5;
  background-color: var(--sidebar-active-color, #f2f3f5);
}
.van-sidebar-item::after {
  border-bottom-width: 0.04267rem;
}
.van-sidebar-item--selected {
  color: #323233;
  color: var(--sidebar-selected-text-color, #323233);
  font-weight: 500;
  font-weight: var(--sidebar-selected-font-weight, 500);
  border-color: #ee0a24;
  border-color: var(--sidebar-selected-border-color, #ee0a24);
}
.van-sidebar-item--selected::after {
  border-right-width: 0.04267rem;
}
.van-sidebar-item--selected,
.van-sidebar-item--selected.van-sidebar-item--hover {
  background-color: #fff;
  background-color: var(--sidebar-selected-background-color, #fff);
}
.van-sidebar-item--disabled {
  color: #c8c9cc;
  color: var(--sidebar-disabled-text-color, #c8c9cc);
}
.van-transition {
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}
.van-fade-enter-active,
.van-fade-leave-active {
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.van-fade-enter,
.van-fade-leave-to {
  opacity: 0;
}
.van-fade-down-enter-active,
.van-fade-down-leave-active,
.van-fade-left-enter-active,
.van-fade-left-leave-active,
.van-fade-right-enter-active,
.van-fade-right-leave-active,
.van-fade-up-enter-active,
.van-fade-up-leave-active {
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, transform;
  transition-property: opacity, transform, -webkit-transform;
}
.van-fade-up-enter,
.van-fade-up-leave-to {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
  opacity: 0;
}
.van-fade-down-enter,
.van-fade-down-leave-to {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
  opacity: 0;
}
.van-fade-left-enter,
.van-fade-left-leave-to {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  opacity: 0;
}
.van-fade-right-enter,
.van-fade-right-leave-to {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  opacity: 0;
}
.van-slide-down-enter-active,
.van-slide-down-leave-active,
.van-slide-left-enter-active,
.van-slide-left-leave-active,
.van-slide-right-enter-active,
.van-slide-right-leave-active,
.van-slide-up-enter-active,
.van-slide-up-leave-active {
  -webkit-transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
}
.van-slide-up-enter,
.van-slide-up-leave-to {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.van-slide-down-enter,
.van-slide-down-leave-to {
  -webkit-transform: translate3d(0, -100%, 0);
  transform: translate3d(0, -100%, 0);
}
.van-slide-left-enter,
.van-slide-left-leave-to {
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}
.van-slide-right-enter,
.van-slide-right-leave-to {
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
}
.van-notify {
  text-align: center;
  word-wrap: break-word;
  padding: 0.256rem 0.64rem;
  padding: var(--notify-padding, 0.256rem 0.64rem);
  font-size: 0.59733rem;
  font-size: var(--notify-font-size, 0.59733rem);
  line-height: 0.85333rem;
  line-height: var(--notify-line-height, 0.85333rem);
}
.van-notify__container {
  position: fixed;
  top: 0;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  z-index: 1500;
}
.van-notify--primary {
  background-color: #1989fa;
  background-color: var(--notify-primary-background-color, #1989fa);
}
.van-notify--success {
  background-color: #07c160;
  background-color: var(--notify-success-background-color, #07c160);
}
.van-notify--danger {
  background-color: #ee0a24;
  background-color: var(--notify-danger-background-color, #ee0a24);
}
.van-notify--warning {
  background-color: #ff976a;
  background-color: var(--notify-warning-background-color, #ff976a);
}
