.van-divider {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  border-style: solid;
  border-width: 0;
  margin: 0.68267rem 0;
  margin: var(--divider-margin, 0.68267rem 0);
  color: #969799;
  color: var(--divider-text-color, #969799);
  font-size: 0.59733rem;
  font-size: var(--divider-font-size, 0.59733rem);
  line-height: 1.024rem;
  line-height: var(--divider-line-height, 1.024rem);
  border-color: #ebedf0;
  border-color: var(--divider-border-color, #ebedf0);
}
.van-divider::after,
.van-divider::before {
  display: block;
  -webkit-flex: 1;
  flex: 1;
  box-sizing: border-box;
  height: 0.04267rem;
  border-color: inherit;
  border-style: inherit;
  border-width: 0.04267rem 0 0;
}
.van-divider::before {
  content: '';
}
.van-divider--hairline::after,
.van-divider--hairline::before {
  -webkit-transform: scaleY(0.5);
  transform: scaleY(0.5);
}
.van-divider--dashed {
  border-style: dashed;
}
.van-divider--center::before,
.van-divider--left::before,
.van-divider--right::before {
  margin-right: 0.68267rem;
  margin-right: var(--divider-content-padding, 0.68267rem);
}
.van-divider--center::after,
.van-divider--left::after,
.van-divider--right::after {
  content: '';
  margin-left: 0.68267rem;
  margin-left: var(--divider-content-padding, 0.68267rem);
}
.van-divider--left::before {
  max-width: 10%;
  max-width: var(--divider-content-left-width, 10%);
}
.van-divider--right::after {
  max-width: 10%;
  max-width: var(--divider-content-right-width, 10%);
}
.demo-block__title {
  margin: 0;
  padding: 0.85333rem 0.64rem 0.64rem;
  color: rgba(69, 90, 100, 0.6);
  font-weight: 400;
  font-size: 0.59733rem;
}
.demo-block__card {
  overflow: hidden;
  border-radius: 0.34133rem;
}
.demo-block--padding {
  padding: 0 0.64rem;
}
.demo-block--padding .demo-block__title {
  padding-left: 0;
}
page {
  background-color: #fff;
}
