.demo-nav {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: 2.38933rem;
  background-color: #fff;
}
.demo-nav__back {
  position: absolute;
  top: 0.68267rem;
  left: 0.68267rem;
  font-size: 1.024rem;
  color: #969799;
  cursor: pointer;
}
.demo-nav__title {
  font-size: 0.68267rem;
  font-weight: 600;
  text-transform: capitalize;
}
.demo-page {
  box-sizing: border-box;
  min-height: 100vh;
  padding-bottom: 0.21333rem;
}
.demo-block__title {
  margin: 0;
  padding: 0.85333rem 0.64rem 0.64rem;
  color: rgba(69, 90, 100, 0.6);
  font-weight: 400;
  font-size: 0.59733rem;
}
.demo-block__card {
  overflow: hidden;
  border-radius: 0.34133rem;
}
.demo-block--padding {
  padding: 0 0.64rem;
}
.demo-block--padding .demo-block__title {
  padding-left: 0;
}
.van-progress {
  position: relative;
  height: 0.17067rem;
  height: var(--progress-height, 0.17067rem);
  border-radius: 0.17067rem;
  border-radius: var(--progress-height, 0.17067rem);
  background: #ebedf0;
  background: var(--progress-background-color, #ebedf0);
}
.van-progress__portion {
  position: absolute;
  left: 0;
  height: 100%;
  border-radius: inherit;
  background: #1989fa;
  background: var(--progress-color, #1989fa);
}
.van-progress__pivot {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  min-width: 3.6em;
  text-align: center;
  word-break: keep-all;
  border-radius: 1em;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fff;
  color: var(--progress-pivot-text-color, #fff);
  padding: 0 0.21333rem;
  padding: var(--progress-pivot-padding, 0 0.21333rem);
  font-size: 0.42667rem;
  font-size: var(--progress-pivot-font-size, 0.42667rem);
  line-height: 1.6;
  line-height: var(--progress-pivot-line-height, 1.6);
  background-color: #1989fa;
  background-color: var(--progress-pivot-background-color, #1989fa);
}
