@-webkit-keyframes van-skeleton-blink {
  50% {
    opacity: 0.6;
  }
}
@keyframes van-skeleton-blink {
  50% {
    opacity: 0.6;
  }
}
.van-skeleton {
  display: -webkit-flex;
  display: flex;
  box-sizing: border-box;
  width: 100%;
  padding: 0 0.68267rem;
  padding: var(--skeleton-padding, 0 0.68267rem);
}
.van-skeleton__avatar {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  margin-right: 0.68267rem;
  margin-right: var(--padding-md, 0.68267rem);
  background-color: #f2f3f5;
  background-color: var(--skeleton-avatar-background-color, #f2f3f5);
}
.van-skeleton__avatar--round {
  border-radius: 100%;
}
.van-skeleton__content {
  -webkit-flex: 1;
  flex: 1;
}
.van-skeleton__avatar + .van-skeleton__content {
  padding-top: 0.34133rem;
  padding-top: var(--padding-xs, 0.34133rem);
}
.van-skeleton__row,
.van-skeleton__title {
  height: 0.68267rem;
  height: var(--skeleton-row-height, 0.68267rem);
  background-color: #f2f3f5;
  background-color: var(--skeleton-row-background-color, #f2f3f5);
}
.van-skeleton__title {
  margin: 0;
}
.van-skeleton__row:not(:first-child) {
  margin-top: 0.512rem;
  margin-top: var(--skeleton-row-margin-top, 0.512rem);
}
.van-skeleton__title + .van-skeleton__row {
  margin-top: 0.85333rem;
}
.van-skeleton--animate {
  -webkit-animation: van-skeleton-blink 1.2s ease-in-out infinite;
  animation: van-skeleton-blink 1.2s ease-in-out infinite;
}
