*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.swp

.vs
.github
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/**/node_modules
packages/vantui/lib
packages/vantui/es
packages/vantui-demo/.swc
packages/vantui-demo/weapp
packages/vantui-demo/alipay
packages/vantui-demo/swan
packages/vantui-demo/h5
packages/vantui-demo/tt
packages/vantui-demo/qq
packages/vantui-demo/dd
packages/vantui-demo/qywx
packages/vantui-demo/jd
packages/vantui-demo/iot
packages/vantui-demo/kwai
packages/vantui-demo/build
packages/vantui-demo/dist
packages/react-demo/src/pages
packages/react-demo/build
packages/react-demo/dist
packages/react-demo/config
packages/react-demo/scripts
packages/react-demo/public
packages/react-demo/src/pages
packages/vantui-doc

packages/vantui-cli/lib
packages/vantui-cli/dist
packages/vantui-cli/dest
