*.log
*.swp

.vs
.cache
.temp
.idea
.rn_temp
.DS_Store

antm.config.js
pullRequestV2.js
package-lock.json

node_modules
packages/**/coverage
packages/**/dist
packages/vantui/lib
packages/vantui/es

packages/vantui-demo/.swc
packages/vantui-demo/weapp
packages/vantui-demo/alipay
packages/vantui-demo/swan
packages/vantui-demo/h5
packages/vantui-demo/tt
packages/vantui-demo/qq
packages/vantui-demo/dd
packages/vantui-demo/qywx
packages/vantui-demo/kwai
packages/vantui-demo/jd
packages/vantui-demo/iot
packages/vantui-demo/build
packages/vantui-demo/dist
packages/react-demo/build
packages/react-demo/dist
packages/react-demo/src/pages

packages/vantui-cli/lib
packages/vantui-cli/dist
packages/vantui-cli/dest

doc_build
temp.js
