*.log
*.lock
*.swp


.vs
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/**/dest
packages/vantui/lib
packages/vantui/es
packages/vantui/src/style/components/iconfont.less
packages/vantui-demo/.swc
packages/vantui-demo/weapp
packages/vantui-demo/alipay
packages/vantui-demo/swan
packages/vantui-demo/h5
packages/vantui-demo/tt
packages/vantui-demo/qq
packages/vantui-demo/dd
packages/vantui-demo/qywx
packages/vantui-demo/kwai
packages/vantui-demo/jd
packages/vantui-demo/iot
packages/vantui-demo/build
packages/vantui-demo/dist
packages/react-demo/src/pages
packages/react-demo/build
packages/react-demo/dist
packages/react-demo/config
packages/react-demo/scripts
packages/react-demo/public
