registry "https://registry.npmmirror.com"
disturl "https://registry.npmmirror.com/dist"
sass_binary_site "https://registry.npmmirror.com/mirrors/node-sass/"
sentrycli_cdnurl "https://registry.npmmirror.com/mirrors/sentry-cli/"
electron_mirror "https://registry.npmmirror.com/mirrors/electron/"
phantomjs_cdnurl "https://registry.npmmirror.com/mirrors/phantomjs/"
chromedriver_cdnurl "https://registry.npmmirror.com/mirrors/chromedriver/"
canvas_binary_host_mirror "https://registry.npmmirror.com/mirrors/node-canvas-prebuilt/"
operadriver_cdnurl "https://registry.npmmirror.com/mirrors/operadriver"
selenium_cdnurl "https://registry.npmmirror.com/mirrors/selenium"
node_inspector_cdnurl "https://registry.npmmirror.com/mirrors/node-inspector"
fsevents_binary_host_mirror "http://npm.taobao.org/mirrors/fsevents/"