/* stylelint-disable selector-type-no-unknown, selector-max-type */

page,
body {
  background-color: #f7f8fa;
  font-size: 28px;
}
body taro-button-core {
  width: initial;
}

taro-button-core + taro-button-core {
  margin-top: 0 !important;
}

.demo-margin-left {
  margin-left: 10px;
}

.demo-margin-right {
  margin-right: 10px;
}

.demo-margin-bottom {
  margin-bottom: 15px;
}
// stylelint-disable-next-line
// page,
// body {
//   background-color: #ffffff;
// }
