.taro_page,
page,
.van-tabs {
  background-color: #fff;
}
page,
.taro_page {
  min-height: 100vh;
}

.doge {
  width: 280px;
  height: 144px;
  margin-top: 8px;
  border-radius: 8px;
  overflow: hidden;
}

.pull-container {
  height: calc(100vh - 200px);
}
.min-pull-container {
  height: calc(100vh - 92px);
}

.header {
  padding: 12px;
  background: #ffffff;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  .left {
    flex: auto;
  }
  .right {
    flex: none;
    padding-left: 12px;
  }
}

.placeholder {
  padding-top: 30vh;
  text-align: center;
  color: #ccc;
  .loadingWrapper {
    font-size: 24px;
    margin-bottom: 24px;
  }
}

.footer {
  line-height: 50px;
  font-size: 30px;
  background-color: lightgreen;
  color: #fff;
  text-align: center;
  padding-bottom: constant(safe-area-inset-bottom); /* 兼容 iOS < 11.2 */
  padding-bottom: env(safe-area-inset-bottom); /* 兼容 iOS >= 11.2 */
}

// 自适应scroll布局
.scroll-container {
  display: flex;
  flex-direction: column;
  .scroll-container-content {
    flex: 1;
    overflow: scroll;
    & > scroll-view,
    & > taro-scroll-view-core {
      height: 100%;
    }
  }
}
