.van-image-viewer {
  .van-image-viewer-main {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2000;

    .van-swiper {
      height: 100vh;
    }

    .van-image {
      display: flex;
      align-items: center;
    }

    .page-desc {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 92px;
      height: 44px;
      background: rgba(0, 0, 0, 0.33);
      border-radius: 44px;
      text-align: center;
      color: #ffffff;
      font-size: 28px;
    }
  }
}
