.tab-page {
  padding-bottom: 600px;
}

.content {
  padding: 40px;
  background-color: #fff;
}

.content-2 {
  padding: 40px;
}

.right-nav {
  padding: 0 20px;
  line-height: 88px !important;
  background-color: #fff;
}

.special-tab {
  transition: all 0.25s ease-in-out;
}

.special-tab-active {
  font-size: 1.05em !important;
}
