.demo-swipe-cell {
  user-select: none;
}

.van-swipe-cell__left,
.van-swipe-cell__right {
  display: inline-block;
  width: 130px;
  height: 88px;
  font-size: 30px;
  line-height: 88px;
  color: #fff;
  text-align: center;
  background-color: #ee0a24;
}
