.van-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.van-multi-ellipsis--l2,
.van-multi-ellipsis--l3 {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.van-multi-ellipsis--l3 {
  -webkit-line-clamp: 3;
}
.van-clearfix::after {
  display: table;
  clear: both;
  content: '';
}
.van-hairline,
.van-hairline--bottom,
.van-hairline--left,
.van-hairline--right,
.van-hairline--surround,
.van-hairline--top,
.van-hairline--top-bottom {
  position: relative;
}
.van-hairline--bottom::after,
.van-hairline--left::after,
.van-hairline--right::after,
.van-hairline--surround::after,
.van-hairline--top-bottom::after,
.van-hairline--top::after,
.van-hairline::after {
  position: absolute;
  box-sizing: border-box;
  -webkit-transform-origin: center;
  transform-origin: center;
  content: ' ';
  pointer-events: none;
  top: -50%;
  right: -50%;
  bottom: -50%;
  left: -50%;
  border: 0 solid #ebedf0;
  -webkit-transform: scale(0.5);
  transform: scale(0.5);
}
.van-hairline--top::after {
  border-top-width: 1px;
}
.van-hairline--left::after {
  border-left-width: 1px;
}
.van-hairline--right::after {
  border-right-width: 1px;
}
.van-hairline--bottom::after {
  border-bottom-width: 1px;
}
.van-hairline--top-bottom::after {
  border-width: 1px 0;
}
.van-hairline--surround::after {
  border-width: 1px;
}
body,
html,
page {
  font-size: 0.59733rem;
}
body,
page {
  background-color: #f7f8fa;
}
body taro-button-core {
  width: initial;
}
taro-button-core + taro-button-core {
  margin-top: 0 !important;
}
.demo-margin-left {
  margin-left: 0.21333rem;
}
.demo-margin-right {
  margin-right: 0.21333rem;
}
.demo-margin-bottom {
  margin-bottom: 0.32rem;
}
