.van-button-submit-box {
  position: fixed;
  bottom: 0px;
  background-color: #fff;
  width: 100%;
}
.van-button-submit {
  width: 90%;
  margin-top: 30px;
  margin-left: 5%;
  margin-bottom: 20px;
}
